<a href="/teams"> Team Index</a>

<h1>All Players</h1>
<% @players.each do |player| %>
  <h3><a href="/players/<%= player.id %>"><%= player.name %></a></h3>
  <%= link_to "Edit", edit_player_path(player) %>
  <p> Drafted: <%= player.drafted %></p>
  <p> JerseyNumber: <%= player.jersey_num %></p>
  <p> Team: <%= player.team_id %></p>
<% end %>

